@inherits LayoutComponentBase

<PageTitle>Jmcarrasc0.Portal</PageTitle>

<Jmcarrasc0.Blazor.Loading.Loading />

<div class="page">

    <NavMenu />
    
    <main class="container-fluid position-absolute mt-5">
        @*        <div class="top-row px-4 auth">
        <LoginDisplay />
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>*@

        <article class="content mt-3 px-4">
            @Body
        </article>
    </main>
</div>
