@inherits LayoutComponentBase

<PageTitle>Jmcarrasc0.Portal</PageTitle>

<Jmcarrasc0.Blazor.Loading.Loading />

<div class="page">

    <NavMenu />
    
    <main class="container-fluid position-absolute mt-5">

        <article class="content mt-5 px-4">
            @Body
        </article>
    </main>
</div>
