

<nav class="navbar bg-body-tertiary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="img/logo/jmcarrasc0-new.png" alt="jmcarrasc0" width="275px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <i class="bi bi-microsoft"></i>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <img src="img/logo/menu-logo.png" alt="jmcarrasc0" width="30%">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <form class="d-flex mt-3" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Próximamente</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Próximamente</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Próximamente
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Próximamente</a></li>
                            <li><a class="dropdown-item" href="#">Próximamente</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Próximamente</a></li>
                        </ul>
                    </li>
                    <br />
                    <li class="nav-item">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginmodal">Iniciar Sesión</button>
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#registrermodal">Regístrate</button>
                        <!-- Button trigger modal -->
                    </li>
                </ul>

            </div>
        </div>
    </div>
</nav>

<Jmcarrasc0.Portal.Areas.Sesion.Login/>

<Jmcarrasc0.Portal.Areas.Sesion.RegistrerModal />