@page "/"

<PageTitle>jmcarrasc0 | Index</PageTitle>

<br />
<div class="row">
    <div class="col">
        <h1>"Shhh, no se lo digas a nadie…</h1>

        <p>Mi página web estará disponible pronto.</p>
        <p>Iniciare mi nuevo proyecto en el cual estaré muy feliz de ayudarte en el mundo de las tecnologías informáticas, gestión administrativa y gestión personal.</p>
        <p>Me especializo en tecnologías informáticas, administración de empresas y psicología.</p>

        <p>Si estas interés, comunícate conmigo a través de LinkedIn y comencemos ya a trabajar juntos"</p>

    </div>
    <div class="col">
        <img src="img/logo/enconstruccion.png" width="100%"/>
    </div>
</div>
