@page "/"

<PageTitle>jmcarrasc0 | Index</PageTitle>

<br />
<div class="row">
    <div class="col">
        <h1>"Shhh, no se lo digas a nadie…</h1>

        <p>Mi pagina web saldra pronto.</p>
        <p>Iniciare mi nuevo proyecto en el cual estare muy feliz de ayudarte en el mundo de las tecnologias informaticas, gestion de empresas y gestion personal.</p>
        <p>Me especializo en tecnologias informaticas, administracion de empresas y psicologia.</p>

        <p>Si estas interes, comunícate conmigo a través de LinkedIn y comencemos ya a trabajar juntos"</p>

    </div>
    <div class="col">
        <img src="img/logo/enconstruccion.png" />
    </div>
</div>

